# Node modules
node_modules/
**/node_modules/

# Local npm bin
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/
.next/
out/

# IDE / editor
.vscode/
.idea/
*.sublime*

# Backup files
*.bak
*.swp
